* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #f7f1eb80;
  background-color: #f7f1eb;
  margin: 0px;
}

nav {
  background: #f8edf5;
  font-weight: bold;
  position: sticky;
  width: 1fr;
  height: 6rem;
  display: flex;
  align-content: space-between;
  justify-content: stretch;
  align-items: center;
  font-size: 30px;
}

nav a {
  text-decoration: none;
  color: #666666;
  text-align: center;
  width: 33.33%;
  height: 100%;
  padding-top: 2rem;
}

nav a:hover {
  background-color: #dbb4ce;
  width: 33.33%;
  align-content: center;
}

.container {
  background-image: url(images/nz_background.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
}

.main {
  display: grid;
  grid-template-columns: 10% 1fr 1fr 1fr 1fr 10%;
  grid-template-rows: repeat(20, auto);
  background-color: #f8edf5;
  color: #666666;
}

.main h1 {
  font-size: 100px;
  color: #666666;
  grid-column: 1/-1;
  grid-row: 1/2;
  padding-bottom: 1rem;
  text-align: center;
}

.image2 {
  width: 1000px;
  height: 800px;
  background-image: url(images/selfie.JPG);
  background-repeat: no-repeat;
  background-size: contain;
  grid-row: 3/5;
  grid-column: 2/5;
  padding-bottom: 2rem;
}

.image3 {
  background-image: url(images/nz_jumping.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  grid-column: 1/7;
  grid-row: 6/7;
}

.image4 {
  background-image: url(images/ut_rocks.jpg);
  min-height: 200px;
  width: 700px;
  height: 400px;
  grid-column: 2/3;
  grid-row: 8/9;
  background-size: contain;
  background-repeat: no-repeat;
}

.image5 {
  background-image: url(images/nz_cave_mom2.jpg);
  grid-column: 4/6;
  grid-row: 10/11;
  width: 100%;
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
}

.image6 {
  background-image: url(images/nz_bridge.JPG);
  min-height: 200px;
  width: 700px;
  height: 400px;
  grid-column: 2/3;
  grid-row: 12/13;
  background-size: contain;
  background-repeat: no-repeat;
}

.image7 {
  background-image: url(images/nz_lighthouse.jpg);
  min-height: 200px;
  width: 700px;
  height: 400px;
  grid-column: 4/6;
  grid-row: 14/15;
  background-size: contain;
  background-repeat: no-repeat;
}

.image8 {
  background-image: url(images/wa_mountain.jpg);
  min-height: 200px;
  width: 700px;
  height: 400px;
  grid-column: 2/3;
  grid-row: 16/17;
  background-size: contain;
  background-repeat: no-repeat;
}

.p {
  font-size: 35px;
  color: #666666;
  background-color: #dbb4ce;
}

.para-1 {
  grid-row: 2/3;
  grid-column: 1/-1;
  text-align: center;
  padding-left: 10rem;
  padding-right: 10rem;
  padding-bottom: 2rem;
  background-color: #f8edf5;
  color: #666666;
}

.para-2 {
  grid-row: 3/5;
  grid-column: 3/6;
  padding-top: 14%;
}

.para-3 {
  grid-column: 3/6;
  grid-row: 8/9;
}

.para-4 {
  grid-column: 2/4;
  grid-row: 10/11;
}

.para-5 {
  grid-column: 3/6;
  grid-row: 12/13;
}

.para-6 {
  grid-column: 2/4;
  grid-row: 14/15;
}

.para-7 {
  grid-column: 3/6;
  grid-row: 16/17;
}

.space {
  font-size: 40px;
  color: greenyellow;
  grid-column: 1/7;
}

.space-1 {
  grid-row: 5/6;
}

.space-2 {
  grid-row: 7/8;
}

.space-3 {
  grid-row: 9/10;
}

.space-4 {
  grid-row: 11/12;
}

.space-5 {
  grid-row: 13/14;
}

.space-6 {
  grid-row: 15/16;
}

.space-7 {
  grid-row: 17/18;
}

.footer {
  width: 100%;
  height: 6rem;
  background-color: #dbb4ce;
}

.footer-text-left a {
  font-size: 30px;
  float: left;
  padding: 2rem 4rem;
  text-decoration: none;
  font-weight: bold;
  color: #666666;
}

.footer-text-left a:hover {
  background-color: #f8edf5;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #666666;
}

.footer-content-right {
  padding-right: 40px;
  margin-top: 20px;
  float: right;
}

.icon-style {
  height: 50px;
  margin-top: 5px;
  padding-right: 3rem;
}

/* 
dark lilac: #C5A2C8
*/

@media only screen and (max-width: 1100px) {
  .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(30, auto);
    max-width: 1100px;
  }

  .main h1 {
    grid-column: 1/3;
    text-align: center;
    padding-right: 10%;
  }

  .container {
    grid-column: 1/3;
    max-width: 1100px;
  }

  .p {
    grid-column: 1/3;
    max-width: 1026px;
  }

  .para-1 {
    grid-column: 1/3;
    max-width: 997.5px;
  }

  .image2 {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .para-2 {
    grid-row: 4/5;
  }

  .image3 {
    background-image: url(images/small_nz_jumping.jpg);
    grid-column: 1/3;
    grid-row: 6/7;
    max-width: 1026px;
  }

  .para-3 {
    grid-row: 7/8;
  }

  .image4 {
    background-image: url(images/small_ut_rocks.jpg);
    grid-column: 2/3;
    grid-row: 8/9;
  }

  .para-4 {
    grid-row: 9/10;
  }

  .image5 {
    background-image: url(images/small_nz_cave_mom.jpg);
    grid-column: 2/3;
    grid-row: 10/11;
    background-repeat: no-repeat;
  }

  .para-5 {
    grid-row: 11/12;
  }

  .image6 {
    grid-column: 2/3;
    grid-row: 12/13;
  }

  .para-6 {
    grid-row: 13/14;
  }

  .image7 {
    grid-column: 2/3;
    grid-row: 14/15;
    background-repeat: no-repeat;
  }

  .para-7 {
    grid-row: 15/16;
  }

  .image8 {
    grid-column: 2/3;
    grid-row: 16/17;
  }

  .para-1 {
    max-width: 1100px;
  }

  .space {
    display: none;
  }

  .icon-style {
    margin-top: 0;
    padding-right: 0;
  }
}

@media screen and (max-width: 992px) {
  .main {
    max-width: 992px;
  }
}

@media screen and (max-width: 900px) {
  .main {
    max-width: 900px;
  }

  .main h1 {
    font-size: 80px;
  }

  .p {
    max-width: 875px;
  }

  .image3 {
    max-width: 875px;
  }

  .image5 {
    background-image: url(images/small_nz_cave_mom2.jpg);
    max-width: 875px;
  }
}

@media screen and (max-width: 768px) {
  .main {
    max-width: 768px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(30, auto);
  }

  .container {
    display: none;
  }

  .image2,
  .image3,
  .image4,
  .image5,
  .image6,
  .image7,
  .image8 {
    display: none;
  }

  .footer-text-left {
    display: none;
  }

  .footer-content-right {
    float: left;
  }

  .main h1 {
    grid-row: 1/2;
  }

  .para-1 {
    grid-row: 2/3;
  }

  .space {
    font-size: 50px;
    grid-column: 1/2;
  }

  .space-1 {
    grid-row: 3/4;
  }

  .para-2 {
    grid-row: 4/5;
  }

  .space-2 {
    grid-row: 5/6;
  }

  .para-3 {
    grid-row: 6/7;
  }
}
