img {
    min-height: 450px;
    max-height: 500px;
    max-width: 400px;
    padding-top: 3rem;

}

body {
    font-family: 'Lora', serif;
    font-family: 'Open Sans', sans-serif;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

::marker {
    color: #D4C742;
    font-size: x-large;
}

input#work {
    background-color: black;
    color: lightgray;
    border-radius: 2px;
    padding: 10px 16px;
    border: 0;
    font-size: large;
}

p {
    width: 410px;
    overflow: hidden;
    padding-bottom: 1rem;
}

li {
    width: 410px;
}