img {
    width: 300px;
    max-width: 300px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 450px;
    max-width: 800px;
    gap: 20px;

}

.row img, .row div {
    flex: 50%;
}

h1 {
    font-family: 'Lora', serif;
    font-weight: 600;
}

.row p, .row li, .row button {
    font-family: 'Lora', serif;
    font-weight: 400;
}

a {
    color: black;
    font-weight: 600;
}

button {
    padding: 10px;
    color: white;
    background-color: black;
    border: none;
}

button:hover {
    transform: scale(1.05);
}

li::marker {
    color: burlywood;
    font-size: 20px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}