/*-nav bar-*/
* {
    margin: 0;
    padding: 0px;
}


.navbar {
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    box-shadow: inset 0px -2px 3px rgba(0, 0, 0, 0.20);
    background-color: white;
    position: fixed;
    width: 100%;
    
}

.navbar-logo {
    font-size: 40px;
    color: dodgerblue;
}
.navbar-logo:hover {
    cursor: pointer;
    display: block;
    transform: scale(1.05);
}
.navbar-logo-text {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 35px;

    color: black;
    text-decoration: none;
}

.navbar-links {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
}
.navbar-links a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}
.navbar-links a:hover {
    color: gray;
}

.navbar-button {
    background-color: cornflowerblue;
    color: white;
    border-radius: 4px;
    padding: 12px 16px;
    cursor: pointer;
}.navbar-button:hover{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.navbar-button span {
    font-weight: bold;
    margin-left: 6px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
}
.navbar-button-logo {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

/*------------*/

/*-Hero-*/

.hero {
    background-image: linear-gradient( to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) ), 
    url("https://cdn.pixabay.com/photo/2017/08/05/22/44/mixer-2586320_1280.jpg");
    background-size: cover;
    background-position: center;
    
    padding-bottom: 20px;
    width: auto;
    height: 400px;
}

.hero-text {
    color: white;
    padding: 90px;
}
.hero-text h1 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    line-height: 50px;
    font-size: 45px;
}
.hero-text h3 {
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    line-height: 25px;
}

.hero-button {
    padding-left: 90px;  
}
.hero-button-text {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 15px;
    text-align: center;
    background-color: darkcyan;
    border-style: hidden;
    padding: 10px;
    border-radius: 4px;
}
.hero-button-text:hover {
    background-color: darkslategray;
    cursor: pointer;
}

/*------------*/

/*-flex column-*/

.flex-column {
    display: flex;
    flex-direction: wrap;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
    
    min-height: 450px;
    max-width: 800px;
}

.flex-column div,
.flex-column img {
    flex: 50%;
}

.flex-img {  
    max-width: 300px;
    max-height: 650px;
}

.flex-column h2 {
    font-size: 50px;
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
}
.flex-column p {
    max-width: 700px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    line-height: 20px;
    font-size: 17px;
}
.flex-column ul {
    padding-left: 50px;
}

::marker {
    color: #fed218;
    font-size: 25px;
}

.flex-body {
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.flex-button {
    color: white;
    text-decoration: none;
    background-color: darkcyan;
    padding: 17px 25px;
    border-radius: 4px;
    display: block;
    width: fit-content;
    font-size: 20px;
}
.flex-button:hover {
    background-color: darkslategrey;
    transform: scale(1.05);
}

.flex-link {
    color: blue;
}
.flex-link:hover {
    color: rgb(157, 157, 244);
}


/*------------*/

/*-grid-*/

.grid {
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.grid-content {
  display: grid;
  width: 600px;
  height: 600px;

  grid-template-rows: 300px 150px 150px;
  grid-template-columns: repeat(2, 100px) repeat(2, 200px);
}

.item {
  font-size: 20px;
  border: 5px solid rgb(81, 76, 76);
  color: white;
}

.item-1 {
  grid-column: 1 / 5;
  grid-row: 1 / 2;

  background-size: cover;
  background-image: url("https://cdn.pixabay.com/photo/2023/05/22/10/49/houses-8010401_1280.jpg");
}

.item-2 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  background-size: cover;
  background-image: url("https://cdn.pixabay.com/photo/2023/05/21/11/54/deer-8008410_1280.jpg");
}

.item-3 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  background-size: cover;
  background-image: url("https://cdn.pixabay.com/photo/2023/04/23/09/40/bird-7945398_1280.jpg");
}

.item-4 {
  grid-column: 3 / 4;
  grid-row: 2 / 4;

  background-size: cover;
  background-image: url("https://cdn.pixabay.com/photo/2023/04/26/16/57/flower-7952897_1280.jpg");
}

.item-5 {
  grid-column: 4 / 5;
  grid-row: 2 / 4;

  background-size: cover;
  background-image: url("https://cdn.pixabay.com/photo/2023/03/21/04/09/mountain-7866362_1280.jpg");
}

.item-6 {
  grid-column: 1 / 3;
  grid-row: 3 / 4;

  background-size: cover;
  background-image: url("https://cdn.pixabay.com/photo/2023/04/13/02/20/waterfall-7921517_1280.jpg");
}

/*------------*/


/*-Scroll bar-*/


/*------------*/

.picture-links {
    padding-top: 45px;
    font-size: 30px;
}
.picture-links a:hover {
    color: lightblue;
}