* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6),
      rgba(255, 255, 255, 0.1)
    ),
    url(HeroPhoto.jpg);
  background-size: cover;
  background-position: center;
  height: 450px;
  max-width: 1200px;
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 20px;
}
.text {
  padding-left: 70px;
  padding-top: 125px;
}

h1,
p {
  color: white;
  font-family: Roboto;
}

h1 {
  margin-bottom: 25px;
}
p {
  margin-bottom: 25px;
}
button {
  color: white;
  background-color: rgb(42, 165, 165);
  border: none;
  width: 140px;
  height: 30px;
  border-radius: 2px;
  cursor: pointer;
  transition-duration: 0.4s;
}
button:hover {
  opacity: 0.8;
}
