* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2c3030;
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#eight-ball {
    width: 500px;
    height: 500px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#message-area {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: white;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#question-area {
    margin-top: 36px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

[v-cloak] {
    display: none;
}
