* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#info_box{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}

h1 {
    text-align:center;
}