* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)),
    url("mixer-ge7c56f567_1280.jpg");
  background-size: cover;
  background-position: center;
  height: 450px;
  max-width: 1200px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
}

header h1 {
  font-weight: bold;
  font-size: 50px;
  color: white;
  margin-left: 70px;
  padding-top: 100px;
  font-family: "Roboto", sans-serif;
}

header p {
  color: white;
  font-size: 25px;
  margin-left: 70px;
  margin-top: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
}

button {
  color: white;
  background-color: rgb(3, 111, 75);
  border: none;
  margin-left: 70px;
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  padding: 10px 20px;
  text-decoration: none;
  border: none;
  border-radius: 2px;
}

border:hover {
  background-color: rgb(2, 31, 21);
}
