@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;600&family=Roboto:wght@300;700&display=swap");
#book {
  max-width: 310px;
}
img {
  width: 300px;
  max-width: 300px;
  -webkit-animation: fadein 2s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
button {
  border: none;
  background: none;
}
img:hover {
  opacity: 0.7;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
  justify-content: center;
}
a {
  color: white;
  background-color: black;
  width: fit-content;
  border-radius: 4px;
  text-decoration: none;
  padding: 8px;
  font-family: "Lora", serif;
  font-weight: 400;
  margin-top: 20px;
}
h2 {
  font-family: "Lora", serif;
  font-weight: 400;
  font-size: 2.1rem;
  margin: 12px 0;
}
main img,
main #content {
  flex: 50%;
}
* {
  font-family: "Lora", serif;
  font-weight: 400;
}
::marker {
  color: #c7b968;
  font-size: 1.5rem;
}

#content {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  max-width: 450px;
}
#learn {
  font-weight: lighter;
  text-decoration: underline;
}
a:hover {
  color: black;
  background-color: grey;
}
p {
  margin: 5px auto;
}
body {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 1) 31%,
    rgba(255, 255, 255, 1) 100%
  );
  background-attachment: fixed; /*edit*/
}
footer {
  display: flex;
  justify-content: space-evenly;
  width: 300px;
  margin: 100px auto;
}
.fa {
  text-align: center;
  text-decoration: none;
  width: 20px;
}
.fa a {
  font-size: 4rem;
}
