* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: grid;
  grid-template-columns: repeat(10, 10vw);
  grid-template-rows: repeat(8, 100vh);
  background-image: linear-gradient(
    to bottom right,
    rgb(37, 6, 6) 20%,
    rgb(83, 22, 22) 40%,
    rgba(116, 27, 27, 0.747) 60%,
    rgba(161, 30, 30, 0.514) 80%,
    rgba(235, 56, 56, 0.37) 100%
  );
}

.hero-cta1 {
  animation: fade-in-out 2.5s 1 ease-in-out forwards;
  position: absolute;
  opacity: 0;
  background: none;
  z-index: 999;
}
.hero-cta2 {
  animation: fade-in-out 2.5s 1 ease-in-out forwards;
  animation-delay: 2.5s;
  position: absolute;
  opacity: 0;
  background: none;
  z-index: 999;
}
.hero-cta3 {
  animation: fade-in-out 3s 1 ease-in-out forwards;
  animation-delay: 4.9s;
  position: absolute;
  opacity: 0;
  background: none;
  z-index: 999;
}
.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-wrap: nowrap;
  width: 400px;
}
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 1/1 /2/-1;
  z-index: auto;
  font-family: "Lato@wght700", sans-serif;
  position: relative;
  width: 100vw;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 2/1 / 3/-1;
  font-family: "Lato@wght700", sans-serif;
  width: 100vw;
}
.experience {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 3/1 / 4/-1;
  font-family: "Lato@wght700", sans-serif;
  width: 100vw;
}
.education {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 4/1/5/-1;
  font-family: "Lato@wght700", sans-serif;
  width: 100vw;
}
.education {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 4/1/5/-1;
  font-family: "Lato@wght700", sans-serif;
  width: 100vw;
}
.skills {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 5/1/6/-1;
  font-family: "Lato@wght700", sans-serif;
  width: 100vw;
}
.awards {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 6/1/7/-1;
  font-family: "Lato@wght700", sans-serif;
  width: 100vw;
}
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: 7/1/8/-1;
  font-family: "Lato@wght700", sans-serif;
  width: 100vw;
}

@keyframes fade-in-out {
  from {
    opacity: 0;
  }
  50% {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}
