img {
  width: 300px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 75px;
  min-height: 450px;
  max-width: 800px;
}

.row img,
.row div {
  flex: 50%;
}

.row2 h1 {
  font-family: "Lora", serif;
  font-weight: 600;
  text-align: left;
}

.row2 {
  font-family: "Lora", serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: left;
}

.btn {
  text-decoration: none;
  background-color: rgb(0, 0, 0);
  padding: 8px 12px;
  color: white;
  margin-top: 20px;
}

.btn:hover {
  color: black;
  text-decoration: none;
  padding: 8px 12px;
  background-color: white;
  transition: 0.4s;
}

.learn {
  color: white;
}

::marker {
  color: #d3b55f;
  font-size: 25px;
}
