* {
  margin: 0;
  padding: 0;
}

.hero {
  max-width: 1200px;
  height: 450px;
  background-image: url(img/hero.jpg);
}

.btn {
  background-color: #108b8c;
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
  width: auto;
  padding: 10px 15px 10px 15px;
  margin-top: 10px;
}
.text {
  padding-left: 75px;
  font-family: "Roboto", sans-serif;
  padding-top: 110px;
}

.text > * {
  margin-bottom: 15px;
}
.text > h3 {
  padding-bottom: 25px;
}
