<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue App</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>

  <body>
    <div id="app">
      <div class="section" v-bind:style="{backgroundColor: [[userColor]]}">
        <h1>Welcome {{userName}}!</h1>
      </div>
      <div class="section">
        <input type="text" v-model="userName" placeholder="Enter Name" />
      </div>
      <div class="section">
        <button v-on:click="convertUser()">Submit</button>
      </div>
      <div class="section" v-for="color in colors">
        <h1 v-on:click="convertColor(color)">{{color}}</h1>
      </div>
      <!-- Content goes here -->
    </div>
    <script src="app.js"></script>
  </body>
</html>
