* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}
:root {
  --link-colors: rgb(36, 60, 78);
  --main-text: rgb(217, 218, 201);
}

.top-navbar,
.links {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px;
  align-items: center;
  flex-wrap: nowrap;
  background-color: rgb(129, 132, 145);
}
.links a {
  text-decoration: none;
  color: var(--main-text);
  margin-left: 15px;
  margin-right: 15px;
  cursor: pointer;
  transition-duration: 1s;
}
.links a:hover {
  color: var(--link-colors);
}

.resume a {
  text-decoration: none;
  color: var(--main-text);
  border: 2px solid var(--main-text);
  padding: 10px;
  border-radius: 3px;
  transition-duration: 1s;
}
.resume a:hover {
  background-color: var(--main-text);
  color: var(--link-colors);
}
.branding img {
  height: 50px;
}

.information-about-me-pic {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 24px;
  background-image: linear-gradient(
      to bottom,
      rgb(0, 0, 0, 0.6),
      rgb(255, 255, 255, 0.1)
    ),
    url(heroImage.jpg);
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 100%;
}
.information-about-me-text {
  color: var(--main-text);
  width: 400px;
}
.contact-me {
  color: var(--link-colors);
  background-color: var(--main-text);
  border: none;
  height: 40px;
  width: 100px;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
  transition-duration: 0.5s;
}
.contact-me:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 15px;
}
.skills-section {
  color: var(--main-text);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  background-image: linear-gradient(
    to bottom,
    rgb(91, 99, 104),
    rgb(138, 149, 156)
  );
  width: 100%;
}

.list-of-skills img {
  height: 75px;
  width: 75px;
  margin-left: 10px;
  margin-right: 10px;
}

.project-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--link-colors);
  text-shadow: 2px 2px 15px #4f4f4f;
  padding: 20px;
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
  margin: 10px;
}
.item {
  width: 400px;
  max-width: 400px;
  height: 400px;
  display: grid;
  align-items: end;
  border: 2px solid rgba(0, 0, 0, 0.25);
  transition-duration: 0.5s;
  flex: 40%;
}
.item:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 15px;
}
.info {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-photo {
  width: 100%;
  height: 300px;
}
.project-button {
  color: var(--link-colors);
  background-color: white;
  border-color: var(--link-colors);
  border-radius: 5px;
  height: 25px;
  width: 100px;
  margin: 10px;
  cursor: pointer;
  transition-duration: 1s;
}
.project-button:hover {
  color: white;
  background-color: var(--link-colors);
}

@media screen and (max-width: 600px) {
  .item {
    flex: 100%;
  }
}
