<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue App</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <h1>Death Valley 7 Day forecast</h1>
        <div class="row" v-if="forecast.daily">
            <div v-for="(day, index) in forecast.daily.time">
                Min: {{forecast.daily.temperature_2m_min[index]}}
                Max: {{forecast.daily.temperature_2m_max[index]}}
            </div>
        </div>
    </div>
    <script src="app.js"></script>
</body>

</html>