*{
margin:0;
padding:0;
}


.wrapper{
    display:grid;
    grid-template-rows:auto;
    grid-template-columns: 10% auto 10%;
    background-image: linear-gradient(rgb(184, 183, 183), rgb(255, 255, 255));

}
.grid-cont{
    display:grid;
    height:auto;
    grid-template-rows:auto;
    grid-template-columns:repeat(4, 1fr);
    background-color:white;
    grid-column:2;
}

.title{
    display:flex;
    justify-content: space-between;
    align-content: flex-start;
    padding:20px;
    grid-column:1/5;
    grid-row:1;
    animation: color-change 9s  infinite ;



}

.title h1{
    position:sticky;
    height:100%;
    display:flex;
    justify-content:center;
    flex-direction:column-reverse;
    padding-left:20px;
    color:white;
    justify-content: flex-start;

}

.title img{
    position:sticky;
    display:flex;
    justify-content:center;
    object-fit:cover;
    height:80px;
    width:80px;
}

.hero-image{
    grid-column:1/5;
    grid-row:2;
    background-color:rgb(210, 210, 210);
}

.hero-image a {
    background-color:rgb(210, 210, 210);
}

.hero-image img {
    width: 100%;
    height:400px;
    object-fit: cover;
}

.intro{
    background-color:rgb(210, 210, 210);
    padding-top:30px;
    padding-bottom:17px;
    grid-column:1/5;
    grid-row:3;
    padding-left:20px;
}

.intro h3{
    color:rgb(56, 56, 56);
    display:flex;
}

.item{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    object-fit:cover;
}


.item a{
    font-size:16px;
    font-family:Arial, Helvetica, sans-serif;
    color:rgb(56, 56, 56);
    padding-bottom:12px;
    display:grid;
    grid-row:6;
    text-decoration:none;
    padding-left:50px;
}

.item li {
    list-style-type: none;
    text-align:center;
}

.item img{
    width:200px;
    height:200px;
    padding-top:40px;
    padding-left:45px;
    display:flex;
    justify-content:center;
    align-items:center;
    object-fit:cover;
    padding-bottom: 35px;
}

.logo-1 img{
    object-fit:center;
}

.logo-4{
    grid-row:4;
    align-content:stretch;
}

.logo-5 img{
    padding-bottom:25px;
}


.logo-6{
    font-size:16px;
    grid-row:5;
    grid-column:3;
}

.logo-6 img{
    object-fit:cover;
}

.logo-3{
    font-size:16px;
    text-align:center;
    color:rgb(56, 56, 56);
    font-family:Arial, Helvetica, sans-serif;
    grid-column:2;
}


@keyframes color-change {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}

  }

@media screen and (max-width:900px) {
    

    .item{
        display:grid;
        grid-column:1/-1;
        
    }
    

    .logo-3{
        display:flex;
        flex-direction:row;
        flex-wrap:nowrap;
        align-items: center;
        justify-content: space-evenly;

    }

    .logo-1{
        display:flex;
        flex-direction:row;
        flex-wrap:nowrap;
        align-items: center;
        justify-content: space-evenly;

    }

    .logo-2{
        display:flex;
        flex-direction:row;
        flex-wrap:nowrap;
        align-items: center;
        justify-content: space-evenly;

    }

    .logo-4{
        display:flex;
        flex-direction:row;
        flex-wrap:nowrap;
        align-items: center;
        justify-content: space-evenly;

    }

    .logo-5{
        display:flex;
        flex-direction:row;
        flex-wrap:nowrap;
        align-items: center;
        justify-content: space-evenly;

    }

    .logo-6{
        display:flex;
        flex-direction:row;
        flex-wrap:nowrap;
        align-items: center;
        justify-content: space-evenly;

    }





    .grid-cont{
        grid-column:1/5;
    }


}

@media screen and (max-width:650px) {


    .title {
        display:flex;
        flex-wrap:wrap;
        flex-flow:column;
        align-items:center;

    }
    .wrapper{
        grid-template-columns: 2% auto 2%;
    }

    .item{
        display:flex;
        flex-wrap:wrap;
        flex-flow:column;
        align-items:center;
        padding:0;
    }

    .item img{
        margin-top:50px;
        padding:0;
    }

    .item a {
        padding:0;
        margin-top:20px;
    }

    .title h1{
        padding-bottom:50px;
        padding-left:0;
    }
}










