* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-image: linear-gradient(
        to right,
        rgba(23,23,23,1),
        rgba(50,50,50,0.5)
    ),
    url("hero.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-origin: content-box;
    width: 1200px;
    height: 450px;
    display: block;
    padding-left: 9rem;
}

.centered {
    color: white;
    font-weight: bold;
    position: absolute;
    top: 20%;
    left: 35%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.centered_p {
    color: white;
    position:absolute;
    top: 35%;
    left: 32.5%;
    transform: translate(-50%, -50%);
    font-size: 25px;
}

input#songs {
    background-color: #33A1A3;
    color: #ffffff;
    padding: 10px 20px;
    border: 0;
    position: absolute;
    top:48%;
    left: 22%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

input#songs:hover {
    background-color: #ffffff;
    color: #33A1A3;
    border-radius: 5px;
}