* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

.top-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 12px 96px 12px 96px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
}

.links {
    display: flex;
    flex-wrap: nowrap;
    gap: 12px;
}

.links a {
    text-decoration: none;
    color: inherit;
    transition: all 0.25s ease-in-out;
    font-weight: bold;
    font-size: 14px;
    color: #454545;
}

.links a:hover {
    color: #00c3da;
}

.download-btn {
    background-color: #00c3da;
    color: white;
    padding: 12px 16px;
    border-radius: 3px;
    cursor: pointer;
}

.download-btn:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.download-btn span {
    font-weight: bold;
    margin-left: 6px;
}

.actions {
    display: flex;
    gap: 12px;
    align-items: center;
}


.branding i {
    font-size: 32px;
    color: #00c3da;
}

.shopping-bucket {
    font-size: 32px;
    color: #454545;
    position: relative;
}

.shopping-bucket::after {
    position: absolute;
    content: "3";
    background-color: #ed4266;
    top: -6px;
    right: -6px;
    font-size: 12px;
    color: white;
    padding: 4px;
    border-radius: 3px;
}