* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image {
    background-image: linear-gradient(
        to right,
        rgba(10, 9, 9, 0.787),
        rgba(27, 27, 27, 0.426)
    ), url("mixer-g0f0f4e6c5_1280.jpg");
    background-size: cover;
    background-position: center;
    max-width: 1200px;
    height: 450px;
}

h1 {
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-top: 3em;
    padding-left: 2em;
    padding-bottom: 1em;
}

h3 {
    color: white;
    font-family: 'Roboto', sans-serif;
    padding-left: 3.5em;
    padding-bottom: 2em;
}

button {
    background-color: rgb(3, 164, 186);
    border: none;
    color: white;
    padding: 10px;
    margin-left: 5em;
}