.column {
    display: flex;
    flex-direction: wrap;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: relative;
    min-height: 450px;
    max-width: 800px;
}

.column div,
.column img {
    flex: 50%;
}

img {  
    max-width: 300px;
    max-height: 650px;
}

h2 {
    font-size: 40px;
    font-family: 'Lora', serif;
    font-weight: 600;
}

.button {
    color: white;
    text-decoration: none;
    background-color: darkcyan;
    padding: 8px 12px;
    border-radius: 4px;
    display: block;
    width: fit-content;
}
.button:hover {
    background-color: darkslategrey;
    transform: scale(1.05);
}

.link {
    color: blue;
}
.link:hover {
    color: rgb(157, 157, 244);
}

p {
    max-width: 700px;
    font-family: 'Lora', serif;
    font-weight: 400;
}

::marker {
    color: #fed218;
    font-size: 25px;
}

body {
    align-items: center;
    align-content: center;
    display: flex;
    justify-content: center;
    padding-top: 70px;
}