* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto", sans-serif;
}

.hero {
  background-image: linear-gradient(
      to right,
      rgb(0, 0, 0),
      rgb(140, 140, 143, 0.02)
    ),
    url("./mixer-geea283936_1280.jpg");
  background-size: cover;
  background-position: center;
  height: 450px;
  max-width: 1200px;
  margin-right: 50px;
  margin-left: 50px;
}

.hero h1 {
  color: white;
  font-family: "Roboto", sans-serif;
  padding-top: 50px;
  margin-left: 60px;
  font-weight: 700;
}

.hero p {
  color: white;
  padding-top: 50px;
  margin-left: 60px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.hero button {
  background-color: #4cacaf;
  border: none;
  color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 60px;
  margin-top: 40px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

.hero button:hover {
  background-color: white;
  color: #4cacaf;
}
