<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Unit Conversion</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>

  <body>
    <div id="app">
      <h1>Unit Converter</h1>
      <section>
        <p>Gigabytes(GB) to Megabytes(MB)</p>
        <input type="number" v-model="left" />
        <button v-on:click="convertLeft" v-show="isValidInput(left)">
          Convert to MB
        </button>
        <div>{{ answerLeft }} MB</div>
      </section>
      <section>
        <p>Megabytes(MB) to Kilobytes(KB)</p>
        <input type="number" v-model="right" />
        <button v-on:click="convertRight" v-show="isValidInput(right)">
          Convert to KB
        </button>
        <div>{{ answerRight }} KB</div>
      </section>
    </div>
    <script src="app.js"></script>
  </body>
</html>
