<!DOCTYPE html>
<html lang="en">

<head>
	<title>Document</title>
	<link rel="stylesheet" href="style.css">
	<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
	<!-- everything vue in this div -->
	<div id="app">
		<h1>Welcome {{ user }}</h1>


		<div>
			<input type="text" v-model="name" placeholder="Enter your name"></input>
			<button v-on:click="changeName">Enter</button>
			<!-- For loop -->
			<!-- item.show ? is an if statment (ternary)-->
			<!-- if statement says: if item.show == true, change color. else (:)-->
			<div 
				v-for="item in items"
				v-bind:style="[item.show ? {backgroundColor: item.color} : {backgroundColor: '#fff'}]"
				class="box"
				v-on:click.self="toggleColor(item)"
			>
				{{ item.text }}

			</div>
		</div>
	</div>
	<script defer type="text/javascript" src="app.js"></script>
</body>
