@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");

* {
  font-family: "Roboto", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#hero {
  background-image: linear-gradient(to right,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0)),
    url("mixer-2586320_1920.jpg");
  height: 450px;
  max-width: 1200px;
  margin: auto;
}

h1 {
  padding-top: 95px;
  margin: 0 0 35px 75px;
}

p {
  margin: 0 0 40px 75px;
}

a {
  background-color: rgb(43, 170, 181);
  padding: 10px 20px;
  margin-left: 75px;
}

a:hover {
  background-color: rgb(27, 110, 117);
}