.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 800px;
  min-height: 450px;
  gap: 50px;
}
body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
img {
  max-width: 300px;
}

p,
h2,
ul {
  font-family: "Lora", serif;
  font-weight: lighter;
}

::marker {
  color: rgb(209, 185, 50);
}

a {
  color: inherit;
  font-weight: bold;
}

.row .BT {
  color: white;
  background-color: black;
  text-decoration: none;
  padding: 10px 15px;
  font-weight: lighter;
  display: block;
  margin: 40px 0px;
  width: fit-content;
}

.row .BT:hover {
  transform: scale(1.05);
}
