*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito,sans-serif;

}

body {
    margin-top: 50px;
}

.hero {
    background-image: url("heroimage.jpg" );
    max-width: 1200px;
    height: 450px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    background-size:cover;
}


.text {
    padding-top: 7rem;
    margin-left: 7rem;
    filter: brightness(100%);
}

h1 {
    padding-bottom: 2rem;
    font-weight: 700;
    font-size: 2.5rem;
}

h2 {
    font-weight: 1;
    padding-bottom: 2.5rem;
}

.button {
    display: flexbox;
    margin-left: 7rem;
    background-color: teal;
    width: 10rem;
    height: 3rem;
    border-radius: 5px;
    text-align: center;
    padding-top: 1rem;
    font-weight: 600;
}

.button:hover {
    background-color: rgba(0, 112, 112, 0.678);
}