<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Vue App</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="app">
      <h1 id="welcome message" v-bind:style="{backgroundColor: activeColor}">
        Welcome {{ message }} !
      </h1>
      <input type="textbox" placeholder="Your Name: " v-model="name" />
      <button v-on:click="appendText()">Enter</button>
      <div class="color" v-for="color in colors" v-on:click="changeColor(color)">{{color.text}}</div>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
