* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

h1 {
  text-align: center;
  padding: 30px;
  border-radius: 20px;
}

input {
  display: flex;
  margin: 10px auto;
}

button {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.color {
  text-align: center;
  margin: 10px;
  cursor: pointer;
}
