 * {
     margin: 10;
     padding: 10;
     box-sizing: border-box;
     font-family: arial;
     color: white;
 }
 
 body {
         background-color: #29215e;
 }
 
 h1 {    
         text-align: center;
 }
 
 p {     
         text-align: center;
 }
 
 input { 
         margin: auto;
         display: block;
         background-color: white;
         color: black;
         padding: 10px 10px;
 }       
 
 button {
         margin: auto;
         display: block;
         border-radius: 4px;
         background-color: white;
         color: black;
         padding: 10px 10px;
 }       
 
