body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.5)
    ),
    url(mixer-g21ac1a406_1280.jpg);
  color: white;
  height: 450px;
  max-width: 1200px;
  position: relative;
  box-sizing: border-box;
}

.music-section {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding-left: 100px;
}

h1 {
  font-size: 50px;
  font-style: 700;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  height: 120px;
  width: 500px;
}

.music-title {
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
  height: 30px;
  width: 350px;
  font-size: 20px;
  line-height: 25px;
}

button {
  padding: 8px 12px;
  margin-top: 3%;
  font-size: 10px;
  background-color: rgb(25, 150, 150);
  color: white;
  border: 0;
}

button:hover {
  padding: 9px 13px;
}

.left-img {
  width: 300px;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-self: center;
  align-items: center;
  font-family: "Lora", serif;
  min-height: 450px;
  max-width: 800px;
  gap: 25px;
}
.right-column {
  max-width: 50%;
  color: rgba(0, 0, 0, 0.8);
}

.left-img,
.right-column {
  flex: 45%;
}
.pre-ul-p,
.post-ul-p {
  display: inline-block;
  font: 600;
  font-size: 15px;
}

h2 {
  font: 600;
  font-size: 30px;
  padding: 0;
}

.subbut {
  background-color: black;
  color: white;
  font-size: 15px;
  padding: 10px 12px;
  border-radius: 1px;
  font: 400;
  display: block;
  width: fit-content;
}

.link {
  color: black;
  font: 600;
}

::marker {
  color: tan;
}

.post-ul-p {
  margin-bottom: 30px;
}
.subbut:hover {
  transform: scale(1.05);
}
